{% load static %}
<!DOCTYPE html>
<html>
  
  <head>
    <meta charset="UTF-8">
    <title>欢迎页面-X-admin2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% static '/rbac/css/font.css' %}">
    <link rel="stylesheet" href="{% static '/rbac/css/xadmin.css' %}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static '/rbac/lib/layui/layui.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static '/rbac/js/xadmin.js' %}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  
  <body class="layui-anim layui-anim-up">
    <div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="/rbac/index/" target="_parent">后台首页</a>
        <a href="">权限管理中心</a>
        <a>
          <cite>用户列表</cite></a>
      </span>
      <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
    </div>
    <div class="x-body">
      <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so">
          <input class="layui-input" placeholder="开始日" name="start" id="start">
          <input class="layui-input" placeholder="截止日" name="end" id="end">
          <input type="text" name="username"  placeholder="请输入用户名" autocomplete="off" class="layui-input">
          <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>
      </div>
      <xblock>
        <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
        <button class="layui-btn" onclick="x_admin_show('添加用户','/rbac/member_add/')"><i class="layui-icon"></i>添加用户</button>
        <span class="x-right" style="line-height:40px">共有数据：{{ countUser }} 条</span>
      </xblock>
      <table class="layui-table">
        <thead>
          <tr>
            <th>
              <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i></div>
            </th>
            <th>序号</th>
            <th>用户名</th>
            <th>手机</th>
            <th>邮箱</th>
            <th>角色</th>
            <th>加入时间</th>
            <th>状态</th>
            <th>操作</th></tr>
        </thead>
        <tbody id="pagelist">
          {% for user in allUsers %}
          <tr>
            <td>
              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{{ user.id }}'><i class="layui-icon">&#xe605;</i></div>
            </td>
            <td>{{ forloop.counter }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.email }}</td>
            <td>{% for R in user.roles.all %}  {{ R.title }} {% endfor %}</td>
            <td>{{ user.create_time }}</td>
            <td class="td-status">
              {% if user.status == 1 %}
                <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span></td>
              {% elif user.status == 0 %}
                <span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span></td>
              {% endif %}
            <td class="td-manage">
              {% if user.status == 1 %}
                  <a onclick="member_stop(this,'10001')" href="javascript:;"  title="停用">
                    <i class="layui-icon">&#xe62f;</i>
                  </a>
              {% elif user.status == 0 %}
                  <a onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">
                    <i class="layui-icon">&#xe601;</i>
                  </a>
              {% endif %}
              <a title="编辑"  onclick="x_admin_show('编辑','/rbac/member_edit/?username_id={{ user.id }}',800,600)" href="javascript:;">
                <i class="layui-icon">&#xe642;</i>
              </a>
              <a onclick="x_admin_show('修改密码','/rbac/member_password/?username_id={{ user.id }}',600,400)" title="修改密码" href="javascript:;">
                <i class="layui-icon">&#xe631;</i>
              </a>
{#              <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">#}
{#                <i class="layui-icon">&#xe640;</i>#}
{#              </a>#}
            </td>
          </tr>
          {% endfor %}
{#          <tr>#}
{#            <td>#}
{#              <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='2'><i class="layui-icon">&#xe605;</i></div>#}
{#            </td>#}
{#            <td>1</td>#}
{#            <td>小明</td>#}
{#            <td>男</td>#}
{#            <td>13000000000</td>#}
{#            <td>admin@mail.com</td>#}
{#            <td>北京市 海淀区</td>#}
{#            <td>2017-01-01 11:11:42</td>#}
{#            <td class="td-status">#}
{#              <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span></td>#}
{#            <td class="td-manage">#}
{#              <a onclick="member_stop(this,'10001')" href="javascript:;"  title="启用">#}
{#                <i class="layui-icon">&#xe601;</i>#}
{#              </a>#}
{#              <a title="编辑"  onclick="x_admin_show('编辑','member-edit.html',600,400)" href="javascript:;">#}
{#                <i class="layui-icon">&#xe642;</i>#}
{#              </a>#}
{#              <a onclick="x_admin_show('修改密码','member-password.html',600,400)" title="修改密码" href="javascript:;">#}
{#                <i class="layui-icon">&#xe631;</i>#}
{#              </a>#}
{#              <a title="删除" onclick="member_del(this,'要删除的id')" href="javascript:;">#}
{#                <i class="layui-icon">&#xe640;</i>#}
{#              </a>#}
{#            </td>#}
{#          </tr>#}
        </tbody>
        {% csrf_token %}
      </table>
      <div class="page" id="page">
{#        <div>#}
{#          <a class="prev" href="">&lt;&lt;</a>#}
{#          <a class="num" href="">1</a>#}
{#          <span class="current">2</span>#}
{#          <a class="num" href="">3</a>#}
{#          <a class="num" href="">489</a>#}
{#          <a class="next" href="">&gt;&gt;</a>#}
{#        </div>#}
      </div>

    </div>
    <script>
      layui.use(['laydate','form'], function() {
          var laydate = layui.laydate;
          var form = layui.form;

          var start_time, end_time;
          var curDate = new Date();
          var preDate = new Date(curDate.getTime() - 24*60*60*1000*7);
          curTime = curDate.toLocaleDateString().replace(/\//g,'-');
          preTime = preDate.toLocaleDateString().replace(/\//g,'-');

          //执行一个laydate实例
          laydate.render({
              elem: '#start', //指定元素
              //done: console.log(value)
              value: preTime,
              done: function (value, date, endDate) {
                  {#            console.log(value); //得到日期生成的值，如：2017-08-18#}
                  {#            console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}#}
                  {#            console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。#}
              },
          });

          //执行一个laydate实例
          laydate.render({
              elem: '#end', //指定元素
              value: curTime,
          });

          form.on('submit(sreach)', function (data) {
              console.log(start_time, end_time);
              console.log(data.field);

              // using jQuery
              function getCookie(name) {
                  var cookieValue = null;
                  if (document.cookie && document.cookie !== '') {
                      var cookies = document.cookie.split(';');
                      for (var i = 0; i < cookies.length; i++) {
                          var cookie = jQuery.trim(cookies[i]);
                          // Does this cookie string begin with the name we want?
                          if (cookie.substring(0, name.length + 1) === (name + '=')) {
                              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                              break;
                          }
                      }
                  }
                  return cookieValue;
              }

              var csrftoken = getCookie('csrftoken');

              function csrfSafeMethod(method) {
                  // these HTTP methods do not require CSRF protection
                  return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
              }

              $.ajaxSetup({
                  beforeSend: function (xhr, settings) {
                      if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                          xhr.setRequestHeader("X-CSRFToken", csrftoken);
                      }
                  }
              });

              if(typeof data.field.start == "undefined" || data.field.start == null || data.field.start == ""){
                  start_time = preTime
              }else {
                  start_time = data.field.start
              }

              if(typeof data.field.end == "undefined" || data.field.end == null || data.field.end == ""){
                  end_time = curTime
              }else {
                  end_time = data.field.end
              }

              $.ajax({
                  url: "/rbac/member_search/",
                  data: {'start_time': start_time, 'end_time': end_time, 'username': data.field.username},
                  cache: false,
                  traditional: true,
                  type: "post",
                  dataType: 'json',
                  success: function (status) {
                      console.log(status);
                      if (status.status) {
                          var data_json = status.data;
                          $("#pagelist").empty();
                          $("#page").empty();
                          $.each(data_json, function (i, item) {
                              var vfields = item;  //这里不定义也行，在下面的调用中直接使用item，请忽略我不规范的缩进
                              var str_status, str_status_ico;
                              var roles = '';
                              if (item.status == 1) {
                                  str_status = '<span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span></td>'
                                  str_status_ico = '<a onclick="member_stop(this,\'10001\')" href="javascript:;"  title="停用"><i class="layui-icon">&#xe62f;</i></a>'
                              } else {
                                  str_status = '<span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span></td>'
                                  str_status_ico = '<a onclick="member_stop(this,\'10001\')" href="javascript:;"  title="启用"><i class="layui-icon">&#xe601;</i></a>'
                              }

                              $.each(vfields.roles, function (i, itme) {
                                  roles = roles + ' ' + itme.title
                              })

                              $("#pagelist").append('<tr>'
                                  + '<td><div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id=' + vfields.id + '><i class="layui-icon">&#xe605;</i></div></td>'
                                  + '<td>' + i + '</td>'
                                  + '<td>' + vfields.username + '</td>'
                                  + '<td>' + vfields.phone + '</td>'
                                  + '<td>' + vfields.email + '</td>'
                                  + '<td>' + roles + '</td>'
                                  + '<td>' + vfields.create_time + '</td>'
                                  + '<td class="td-status">' + str_status
                                  + '<td class="td-manage">' + str_status_ico
                                  + '<a title="编辑"  onclick="x_admin_show(\'编辑\',\'/rbac/member_edit/?username_id=' + vfields.id + '\',800,600)" href="javascript:;"> <i class="layui-icon">&#xe642;</i> </a>'
                                  + '<a onclick="x_admin_show(\'修改密码\',\'/rbac/member_password/?username_id=' + vfields.id + '\',600,400)" title="修改密码" href="javascript:;"> <i class="layui-icon">&#xe631;</i> </a> '
                                  + '</td>'
                                  + '</tr>');
                          })
                        } else {
                          layer.msg(status.message, {icon: 1, time: 2000});
                        }
                  }
              })
              return false;
          })

      });


       /*用户-停用*/
      function member_stop(obj,id){
          layer.confirm('确认要'+$(obj).attr('title')+'吗？',function(index){

            // using jQuery
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

              var username_id = $(obj).parents("tr").find(".layui-form-checkbox").attr("data-id")
              console.log(username_id)

              if($(obj).attr('title')=='停用'){

                //发异步把用户状态进行更改
                $.ajax({
                    url:"/rbac/user_change_status/",
                    data:{'username_id':username_id,'status':0},
                    cache: false,
                    traditional:true,
                    type: "post",
                    dataType:'json',
                    success:function(status){
                        console.log(status);
                        if(status.status){
                            $(obj).attr('title','启用')
                            $(obj).find('i').html('&#xe601;');

                            $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');
                            layer.msg('已停用!',{icon: 5,time:3000});
                        }else{
                            layer.msg(status.message, {icon:1,time:3000});
                        }
                    }
                })
              }else{
                //发异步把用户状态进行更改
                $.ajax({
                    url:"/rbac/user_change_status/",
                    data:{'username_id':username_id,'status':1},
                    cache: false,
                    traditional: true,
                    type: "post",
                    dataType: 'json',
                    success: function (status) {
                        console.log(status);
                        if (status.status) {
                            $(obj).attr('title','停用')
                            $(obj).find('i').html('&#xe62f;');

                            $(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');
                            layer.msg('已启用!',{icon: 5,time:3000});
                        } else {
                            layer.msg(status.message, {icon: 1, time: 3000});
                        }
                    }
                })
              }

          });
      }

{#      /*用户-删除*/#}
{#      function member_del(obj,id){#}
{#          layer.confirm('确认要删除吗？',function(index){#}
{#              //发异步删除数据#}
{#              $(obj).parents("tr").remove();#}
{#              layer.msg('已删除!',{icon:1,time:1000});#}
{#          });#}
{#      }#}



      function delAll (argument) {

        var data = tableCheck.getData();
  
        layer.confirm('确认要删除吗？'+data,function(index){
            //捉到所有被选中的，发异步进行删除

            // using jQuery
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            //发异步把用户状态进行更改
            $.ajax({
                url:"/rbac/user_batch_delete/",
                data:{'username_ids':data},
                cache: false,
                traditional:true,
                type: "post",
                dataType:'json',
                success:function(status){
                    console.log(status);
                    if(status.status){
                        layer.msg('删除成功', {icon: 1});
                        $(".layui-form-checked").not('.header').parents('tr').remove();
                    }else{
                        layer.msg(status.message, {icon:1,time:3000});
                    }
                }
            })

        });
      }

      //分页的实现
      layui.use(['laypage', 'layer'], function() {
          var laypage = layui.laypage
              , layer = layui.layer;

          // using jQuery
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');

            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }

            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

          laypage.render({
            elem: 'page'
            ,count: {{ countUser }} //数据总数
            ,limit: 10
            ,groups: 3
            ,first: '首页'
            ,last: '尾页'
            ,layout: ['prev', 'page', 'next','count']
            ,jump: function(obj, first) {
                  //obj包含了当前分页的所有参数，比如：
                  var page_id = obj.curr;
                  var limit = obj.limit;
                  console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                  console.log(obj.limit); //得到每页显示的条数

                  //首次不执行
                  if (!first) {
                    //发异步把用户状态进行更改
                    $.ajax({
                        url:"/rbac/member_list/",
                        data:{'page_id':page_id,'limit':limit},
                        cache: false,
                        traditional:true,
                        type: "post",
                        dataType:'json',
                        success:function(status){
                            console.log(status);
                            if(status.status){
                                var data_json = status.data;
                                $("#pagelist").empty();
                                 $.each(data_json, function (i, item ) {
                                    var vfields = item;  //这里不定义也行，在下面的调用中直接使用item，请忽略我不规范的缩进
                                    var str_status,str_status_ico;
                                    var roles = '';
                                    if ( item.status == 1 ){
                                        str_status = '<span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span></td>'
                                        str_status_ico = '<a onclick="member_stop(this,\'10001\')" href="javascript:;"  title="停用"><i class="layui-icon">&#xe62f;</i></a>'
                                    }else{
                                        str_status = '<span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">已停用</span></td>'
                                        str_status_ico = '<a onclick="member_stop(this,\'10001\')" href="javascript:;"  title="启用"><i class="layui-icon">&#xe601;</i></a>'
                                    }

                                    $.each(vfields.roles,function (i,itme) {
                                        roles = roles + ' ' + itme.title
                                    })

                                    $("#pagelist").append('<tr>'
                                    + '<td><div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id=' + vfields.id + '><i class="layui-icon">&#xe605;</i></div></td>'
                                    + '<td>' + i + '</td>'
                                    + '<td>' + vfields.username +'</td>'
                                    + '<td>' + vfields.phone + '</td>'
                                    + '<td>' + vfields.email + '</td>'
                                    + '<td>' + roles + '</td>'
                                    + '<td>' + vfields.create_time + '</td>'
                                    + '<td class="td-status">' +  str_status
                                    + '<td class="td-manage">' +  str_status_ico
                                    + '<a title="编辑"  onclick="x_admin_show(\'编辑\',\'/rbac/member_edit/?username_id=' + vfields.id + '\',800,600)" href="javascript:;"> <i class="layui-icon">&#xe642;</i> </a>'
                                    + '<a onclick="x_admin_show(\'修改密码\',\'/rbac/member_password/?username_id=' + vfields.id + '\',600,400)" title="修改密码" href="javascript:;"> <i class="layui-icon">&#xe631;</i> </a> '
                                    + '</td>'
                                    + '</tr>');
                                })
                            }else{
                                layer.msg(status.message, {icon:1,time:2000});
                            }
                        }
                    })
                  }
              }
          });
      });

    </script>
  </body>

</html>