{% load rbac %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="/static/rbac.css">
    </head>
    <body>
    <div style="float: left;width: 20%;height: 900px;background-color: darkgrey">
        {% menu_html request %}
    </div>
    <div style="float: left;width: 80%">
        {% block content %}
        {% endblock %}
    </div>
    </body>
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script src="/static/rbac.js"></script>
</html>
